<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./index.css">
    <title>注册</title>
</head>
<body>
    <div class="container">
        <form class="form" method="post">
            <div>
                <label>用户名：</label> 
                <input placeholder="请输入用户名" type="text" name="name"
                class="name">
            </div>
            <div>
                <label>密码：</label> 
                <input placeholder="请输入密码" class="password" type="password" name="password">
            </div>
            <div>
                <label>重复密码：</label> 
                <input placeholder="请确认密码" class="repeatpass" type="password" name="repeatpass">
            </div>
            <div class="submit">注册</div>
        </form>
    </div>
	<script src="https://unpkg.com/jquery@3.3.1/dist/jquery.min.js"></script>
	<script src="./Ajax.js"></script>
    <script>
        $(window).keyup(function (e) {
			//console.log(e.keyCode)
			if (e.keyCode == 13) {
				$('.submit').click()
			}
        });
        $('.submit').click(function(){
			if ($('input[name=name]').val().trim() == '') {
				fade('请输入用户名！')
			}else if($('input[name=name]').val().match(/[<'">]/g)){
				fade('请输入合法字符！')
			}else{
				Ajax({
					url: "http://localhost:8000/signup",
					data: {
						name: $('input[name=name]').val(),
						password: $('input[name=password]').val(),
						repeatpass: $('input[name=repeatpass]').val(),
					},
					type: "POST",
					dataType: 'jsonp',
					success: function (data) {
						console.log(data)
					//    if(msg.code == 200){
					// 	   fade('注册成功')
					// 	   setTimeout(function(){
					// 		   console.log('注册成功')	  
					// 	   },1000)
					//    }else{
 					// 		fade(msg.message)
					//    }
					}
				})			
			}
		})	
    </script>
</body>
</html>